# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json
TODO.md

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site
_posts

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

# ---
# DK
# ---
_data/repositories.yml
_tabs/about.md
about.md
.github/workflows/pages-deploy.yml

# _posts_static
_static/_posts/2022-04-07-TEST.md

# DK4
index.md
index.html
dennykorsukewitz

DK4
DK4OTRS-UBInventory/
DK4Znuny-QuickDelete/
VSCode-Znuny/
VSCode-AddFolderToWorkspace/
MRBS-OTRS/
VSCode-QuoteWithMarker/
VSCode-GitHubFileFetcher/
