# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json
TODO.md

# bundler cache
_site
_posts
vendor
Gemfile.lock

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# _posts_static
_static/_posts/2023-02-15-TEST.md

# DK4
index.md
dennykorsukewitz

DK4
DK4OTRS-UBInventory/
DK4Znuny-QuickDelete/
VSCode-Znuny/
VSCode-AddFolderToWorkspace/
MRBS-OTRS/
VSCode-QuoteWithMarker/
VSCode-GitHubFileFetcher/