<!-- rainbow-colors loader -->
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {

  const $toggleElem = $('.color-mode-toggle');
  if ($toggleElem.length === 0) {
    return;
  }

  $toggleElem.off().on('click', (e) => {
    const $target = $(e.target);
    let $btn =
      $target.prop('tagName') === 'button'.toUpperCase()
        ? $target
        : $target.parent();

    $btn.trigger('blur'); // remove the clicking outline

    var $modus = Math.floor((Math.random() * 3) + 1);
    var $random = Math.floor((Math.random() * 230) + 40);

    $(document).mousemove(function(e) {
      var $width  = ($(document).width()) / 255;
      var $height = ($(document).height()) / 255;
      var $pageX  = parseInt(e.pageX / $width, 10);
      var $pageY  = parseInt(e.pageY / $height, 10);

      if ($modus == 1) {
        setColor($random, $pageY, $pageX);
      } else if ($modus == 2) {
        setColor($pageY, $random, $pageX);
      } else {
        setColor($pageX, $pageY, $random);
      }

    });

    // set rainbow-colors
    function setColor(C1, C2, C3) {
      $("h1").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("h2").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("h3").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("h4").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("a").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("button").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("i").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("strong").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
      $("input").css("color", "rgb(" + C1 + "," + C2 + "," + C3 + ")");
    }
  });

});

</script>
