---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

img[alt="GitHub Top Languages"],
.github-stats {
    height: 195px;
}

.github-repository {
    width:  350px;
    height: 150px;
}

/*.post-tail-wrapper .post-meta a:not(:hover), .post-content a:not(.img-link),*/
.repository a{
    border-bottom: none !important;
    color: var(--text-color);
}

#panel-wrapper .post-tag:hover {
    background-color: #4f81bc;
    border-color: #4f81bc;
}
