---
layout: default
---

{% capture _content %}
  {% if layout.refactor or page.layout == 'page' %}
    {% include refactor-content.html content=content lang=lang %}
  {% else %}
    {{ content }}
  {% endif %}
{% endcapture %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
      <!-- dennykorsukewitz.github.io start -->
      {% unless page.repository  %}
      <!-- dennykorsukewitz.github.io end -->

      <h1 class="dynamic-title">
        {{ title }}
      </h1>
      <!-- dennykorsukewitz.github.io start -->
      {% endunless %}
      <!-- dennykorsukewitz.github.io end -->
    <div class="content">
      {{ _content }}
    </div>
  {% else %}
    {{ _content }}
  {% endif %}
</article>
